@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Bold.otf');
}
@font-face {
  font-family: 'MontserratRegular';
  src: url('Montserrat-Regular.otf');
}
@font-face {
  font-family: 'MontserratLight';
  src: url('Montserrat-Light.otf');
}
@font-face {
  font-family: 'MontserratExtraBold';
  src: url('Montserrat-ExtraBold.otf');
}
@font-face {
  font-family: 'MontserratThin';
  src: url('Montserrat-Thin.otf');
}
body {
  padding: 0;
  margin: 0;
  font-family: 'MontserratRegular';
}

.red-color {
  color: #df413d;
}
.landing {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('../images/main-bg.jpg');
  background-size: cover;
}
.landing-title {
  font-family: 'MontserratExtraBold';
  text-align: center;
}
.navbar img {
  max-width: 150px;
}

.nav-link {
  font-size: 12px;
  margin-right: 3rem;
  padding: 0.5rem 0 !important;
  color: rgb(100, 100, 100);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
/* .nav-link:hover {
  /*border-bottom: 2px solid #DF413D;*/

.redSelect:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 3px;
  border-bottom: 2px solid #df413d;
}
.redSelectA:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 3px;
  border-bottom: 2px solid #df413d;
}
.redSelectB:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 35%;
  padding-top: 3px;
  border-bottom: 2px solid #df413d;
}
.outline-button {
  margin-right: 0;
  padding: 0.5rem 1rem !important;
  border: 2px solid #df413d;
  font-size: 12px;
  border-radius: 50px;
  text-decoration: none !important;
  color: #ffffff !important;
}
.outline-button:hover {
  border: 1.5px solid rgba(0, 0, 0, 0);
  background: #df413d;
  color: #ffffff;
}
.landing h1 {
  font-family: 'Montserrat';
}
.landing p {
  font-family: 'MontserratThin';
}
#learnMore {
  font-family: 'MontserratRegular' !important;
  border: 1.5px solid #df413d;
  border-radius: 50px !important;
  color: #efeff0;
}

.intro-text {
  margin-top: 20%;
}
.seamless {
  padding-top: 6em;
  padding-bottom: 6em;
}
.seamless .row {
  margin-top: 4em;
}
.landing-rider {
  text-align: center;
  padding: 0 20%;
}
.seamless .option {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.95);
  padding: 3em 2em 3em 2em;
  cursor: pointer;
  transition: transform 1s;
  min-height: 400px;
}
.seamless .option:hover {
  transform: scale(1.05);
}
.seamless .option h5 {
  font-family: Montserrat;
  margin-top: 2em;
  font-size: 1.1em;
}
.seamless .option p {
  font-size: 14px;
  margin-top: 1em;
}
.seamless .option img {
  height: 40px !important;
}
.chat {
  color: #ffffff;
  background-color: #101d2c;
  padding-top: 2em;
}
.chat h1 {
  font-family: 'MontserratExtraBold';
  margin-top: 2em;
}
.chat p {
  font-family: 'MontserratLight';
  font-size: 14px;
}
.chat img {
  width: 70%;
}
.testimonials {
  padding-top: 6em;
  padding-bottom: 6em;
  background: #ffffff;
}
.testimonial {
  overflow: hidden;
}
.testimonial .inner {
  width: 400%;
  transition: margin-left 0.5s;
}
.testimonial .item img {
  width: 250px;
  margin-top: 1em;
}
.testimonial .item p {
  padding: 2em 20%;
  color: #101d2c;
  font-size: 1.1em;
}
.testimonial .buttons span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 1em;
  background: #cccccc;
  transition: transform 0.5s;
  cursor: pointer;
}
.testimonial .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.testimonial .buttons span:hover {
  transform: scale(1.5);
}
.active {
  background: #101d2c !important;
  transform: scale(1.5);
}
.brands {
  padding-top: 6em;
  padding-bottom: 6em;
}
.brands .row {
  margin-top: -1em;
}
.brands img {
  height: 40px;
  margin-top: 3em;
}
.brands img:nth-child(5) {
  height: 45px;
}

.main-footer {
  padding-bottom: 2em;
  padding-top: 6em;
  background: #101d2c;
  color: #ffffff;
  font-family: 'MontserratLight';
  font-size: 15px;
}
.main-footer input {
  border-radius: 50px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.main-footer h5 {
  font-family: 'Montserrat';
  padding-bottom: 1.5em;
  font-size: 17px;
}
.sub-footer {
  font-size: 12px;
  margin-top: 6em;
  padding-top: 2em;
  color: rgba(255, 255, 255, 0.5);
  border-top: 0.4px solid rgba(255, 255, 255, 0.5);
}
.aboutUs {
  background: #101d2c;
  color: #ffffff;
  text-align: center;
}
.aboutUs-text {
  padding-top: 15%;
  padding-bottom: 5%;
  border-bottom: 0.4px solid white;
}
.aboutUs-text h1 {
  font-family: 'Montserrat';
}
.aboutUs-text p {
  font-family: 'MontserratLight';
  padding-top: 10px;
}
.ourTeam h1 {
  padding: 10%;
  font-family: 'Montserrat';
}
.ourTeam .row {
  padding-bottom: 5%;
}
.ourTeam h4 {
  font-family: 'Montserrat';
}
.ourTeam .row p {
  font-family: 'MontserratThin';
}
.whyUs h1 {
  font-family: 'Montserrat';
  padding: 10%;
  text-align: center;
}
.whyUs h4 {
  font-family: 'Montserrat';
}
.whyUs img {
  padding-right: 25px;
}
.whyUs .row .media-body p {
  font-family: 'MontserratLight';
  font-size: 15px;
}
.mission-statement {
  margin-top: 50px;
  font-family: 'MontserratLight';
  text-align: center;
  font-size: 15px;
}
#media-button .btn {
  border: 1.5px solid #df413d;
  border-radius: 50px !important;
  color: #101d2c !important;
  background: #ffffff !important;
}
div #media-button {
  font-family: 'Montserrat';
  padding-bottom: 50px;
  text-align: center;
}
#media-button .btn:hover {
  border: hidden;
  background: #101d2c !important;
  color: #efeff0 !important;
}
.services {
  background: #101d2c;
  color: #ffffff;
  text-align: center;
}
.services-text {
  padding-top: 10%;
  padding-bottom: 2%;
}
.services-text h1 {
  font-family: 'Montserrat';
}
.services-text p {
  font-family: 'MontserratLight';
  padding-top: 10px;
}
.services-details {
  padding: 5%;
  padding-top: 10%;
  padding-left: 5%;
}
.services-details h1 {
  font-family: 'Montserrat';
}
.services-details p {
  font-family: 'MontserratLight';
}
.services-details .row .col-md-6 {
  padding-top: 5%;
}

#getInTouch {
  text-align: center;
  padding-top: 50px;
}

#getInTouch .btn {
  font-family: 'Montserrat';
  border: 2px solid #df413d;
  font-size: 8pt;
  border-radius: 50px !important;
  color: #101d2c !important;
  background: #ffffff !important;
}
#getInTouch .btn:hover {
  border: hidden;
  background: #101d2c !important;
  color: #ffffff !important;
}
.contactUs {
  background: #101d2c;
  color: #ffffff;
  text-align: center;
  padding-bottom: 1%;
}
.contactUs-rider h1 {
  padding-top: 5%;
  font-family: 'Montserrat';
}

.form-group input {
  border-radius: 0px;
  border: hidden !important;
  border-bottom: 2px solid #df413d !important;
}

.contactUs-rider form {
  padding-top: 5%;
  font-family: 'MontserratRegular';
}
#submit .btn {
  font-family: 'Montserrat';
  border: 2px solid;
  border-color: #df413d !important;
  border-radius: 50px !important;
  color: #101d2c !important;
  background: #ffffff !important;
}
#submit .btn:hover {
  border: hidden;
  background: #101d2c !important;
  color: #efeff0 !important;
}

@media only screen and (max-width: 992px) {
  .intro-text {
    margin-top: 50%;
  }
  .landing {
    background-position: right;
  }

  .landing-title {
    font-size: 2em;
  }
  .landing-rider {
    font-size: 14px;
    padding: 0 5%;
  }
  .seamless {
    padding: 6em 1.5em;
    margin-top: 0em;
  }
  .seamless .row .option {
    margin-top: 2em;
  }
  .chat h1 {
    font-size: 1.6em;
  }
  .chat p {
    font-size: 0.7em;
  }
  .aboutUs-text h1 {
    font-size: 1.6em;
  }
  .aboutUs-text p {
    font-size: 1em;
  }
}
.whyUs .media-body p {
  font-size: 0.8em;
}
.services-details .row .col-md-6 img {
  width: 300px;
}

@media only screen and (max-width: 567px) {
  .intro-text {
    margin-top: 75%;
  }
  .landing h1 {
    font-size: 2em !important;
  }
  .landing p {
    font-size: 14px;
    line-height: 1.5em;
  }
  .landing {
    background-position: right;
  }

  .seamless .row .option {
    /*margin: 2em auto auto auto; */
    text-align: center;
  }

  .chat {
    text-align: center;
  }

  .chat .col-md-6:first-child {
    padding-bottom: 2em;
  }
  .testimonial .item img {
    width: 170px;
  }
  .testimonial .item p {
    padding: 2em 0%;
    color: #101d2c;
    font-size: 1em;
  }
  .brands img {
    height: 25px;
  }
  .aboutUs-text h1 {
    font-size: 1.6em;
  }
  .aboutUs-text p {
    font-size: 0.9em;
  }
  .whyUs .convenience {
    padding-bottom: 10%;
  }
  .whyUs .media-body p {
    font-size: 0.8em;
  }
  .services-text {
    padding-top: 10%;
    padding-bottom: 2%;
  }
  .services-text h1 {
    font-family: 'Montserrat';
    font-size: 1.1em;
  }
  .services-text p {
    font-family: 'MontserratLight';
    font-size: 0.5em;
  }

  .services-details .row .col-md-6 img {
    width: 300px;
  }
  .services-details .row .col-md-6 {
    padding-top: 5%;
  }
}
